body {
    background-color: rgba(170,170,170,0.1);
}

.top {
	float: right;
    margin:20px 10px 0px 0px;
}


hr {
display: block;
margin-before: 0.5em;
margin-after: 0.5em;
margin-start: auto;
margin-end: auto;
border-style: inset;
border-width: 1px; }
