{% extends 'fym/base.html' %}

{% load staticfiles %}

{% block title %} Login{% endblock %}

{% block body %}
	<form id="login_form" method="post" action="/fym/login/">
	{% csrf_token %}
		<div class="row">
			<div class="small-9 medium-7 small-centered columns">
				<h1 style="text-align:center;">Login</h1>
				<input type="text" name ="username" placeholder="email:" />
				<div class="row collapse">
			        <div class="small-10 columns">
			        	<input type="password" name="password" placeholder="password:">
			        </div>
			        <div class="small-2 columns">
			        	<input type="submit" value="Go!" class="button postfix" />
			    	</div>
			    </div>
			</div>
		</div>
	</form>
{% endblock %}
