{% extends 'fym/base.html' %}

{% block title %} - SignUp{% endblock %}

{% block body %}
        <h1>Sign Up - Fym</h1>

        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href=" {% url 'index' %} ">Return to the homepage.</a><br />
        {% else %}
        <form id="user_form" method="post" action="/fym/signup/" enctype="multipart/form-data">

            {% csrf_token %}
			{{ user_form.as_p }}
            {{ usuario_form.as_p }}

            <input type="submit" name="submit" value="Sign Up" />
        </form>
        {% endif %}
{% endblock %}