{% extends 'fym/base.html' %}

{% load staticfiles %}

{% block title %} {{ trilha.name }} {% endblock %}
{% block body %}

	<div class="row">
		<div class="large-8 small-12 small-centered columns">
			<h1 style="text-align:center;">{{ trilha.name }}</h1>
			{% for bloco in blocos %}
			<div class="panel">
				<p> {{ bloco.texto }}</p>
			</div>
			{% endfor %}
			<div style="text-align:center;"><a class="button large alert" data-reveal-id="myModal">Add Block</a></div>
		</div>
		
		<div id="myModal" class="reveal-modal" data-reveal> 
			<form id="bloco_form" method="post" action="/fym/trilha/{{ slug }}/add_bloco/">
				{% csrf_token %}
				<a class="close-reveal-modal">&#215;</a>
				<div class="row">
					<div class="small-11 medium-7 small-centered columns" style="text-align:center;">
						<h1 style="text-align:center;">New Block</h1>
						<textarea type="text" name="texto" placeholder="Write your block here" style="height:300px;"></textarea>
						<input type="submit" value="Submit Block" class="button alert" />
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
